<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreFileSize</key>
	<integer>25977699</integer>
	<key>AppStoreFileSizeValid</key>
	<true/>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/HumanFusion.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.classcast.humanfusion</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.2.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/HumanFusion.app/appicon_release29x29@2x.png</string>
			<string>Applications/HumanFusion.app/appicon_release40x40@2x.png</string>
			<string>Applications/HumanFusion.app/appicon_release60x60@2x.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Cloudzillr Inc. (9AL2UZ8EFE)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2014-12-16T10:50:46Z</date>
	<key>Name</key>
	<string>Release</string>
	<key>SchemeName</key>
	<string>Release</string>
</dict>
</plist>
